version: '2.1'
orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

jobs:
  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout:
          path: ~/project/
      - node/install:
          node-version: '20.9'
      - run: node --version
      - run: npm i -g @railway/cli
      # Importante: moverse primero al directorio que se va a desplegar
      - run:
          name: Link dentro de bankchurn-api
          command: |
            cd bankchurn-api
            railway link -p 5b75906f-ae62-4a49-9828-d6d83571f943 --service "jubilant-flow"
      - run:
          name: Deploy a Railway (no interactivo)
          command: |
            cd bankchurn-api
            RAILWAY_CI=1 railway up -p 5b75906f-ae62-4a49-9828-d6d83571f943 --service "jubilant-flow" --detach

workflows:
  version: 1
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only:
                - main
